@import url(https://fonts.googleapis.com/css?family=Urbanist:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  font-family: "urbanist";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1596px;
  margin: auto;
}

header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  background: rgb(20, 20, 20);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  width: 100%;
}

header ul {
  display: flex;
  align-items: center;
}

header ul li {
  padding: 14px 24px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
header li:hover {
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 10px;

  /* Grey/08 */
  background: rgb(20, 20, 20);
}
nav button {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 10px;

  /* Grey/08 */
  background: rgb(20, 20, 20);
  padding: 16px 24px;
}

.discover button,
a {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  background: rgb(26, 26, 26);
  border: none;
}

.discover {
  margin: 0 15px;
  text-align: center;
  padding: 18px 0;
  position: relative;
}

.home {
  background-image: url(../public/imgs/building.svg);
  background-position: right;
  background-repeat: no-repeat;
  height: 80vh;
}

.home-box {
}

.home-right {
  max-width: 758px;
  padding: 100px 0;
}

.home-right h2 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

.home-right p {
  color: rgb(153, 153, 153);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 20px;
}

.home-right button {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  background: rgb(30, 30, 30);
  border: 1px solid rgb(38, 38, 38);
  border-radius: 10px;
  padding: 18px 24px;
}

.home-right .purple {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 10px;

  /* Purple/60 */
  background: rgb(112, 59, 247);
  padding: 18px 24px;
}

.card h3 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.right-bottom {
  display: flex;
  gap: 20px;
  margin-top: 60px;
}

.right-bottom .card {
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 12px;

  /* Grey/10 */
  background: rgb(26, 26, 26);
  padding: 16px 24px;
}

.right-center {
  display: flex;
  gap: 20px;
  margin-top: 60px;
}

.home img {
  position: absolute;
}

/* discover */
.discover img {
  position: absolute;
  right: 0;
}

.icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 90px;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  /* Grey/08 */
  background: rgb(20, 20, 20);
}

.icon {
  width: 100%;
  padding: 40px;
  text-align: center;
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 12px;

  /* Grey/10 */
  background: rgb(26, 26, 26);
}

.icons h5 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 20px;
}

.features h2 {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.features p {
  max-width: 1200px;
  color: rgb(153, 153, 153);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 15px;
}

.features button {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 10px;

  /* Grey/10 */
  background: rgb(26, 26, 26);
  padding: 18px 24px;
}

.features {
  padding: 150px 0;
}

.feature-bottom {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 80px 0; */
}

.card {
  box-sizing: border-box;
  border: 1px solid rgb(38, 38, 38);
  border-radius: 12px;

  background: rgb(20, 20, 20);
  padding: 40px;
}

.top h4 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 30px;
}

.top p {
  max-width: 425px;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 30px;
}

.center button {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 28px;

  /* Grey/10 */
  background: rgb(26, 26, 26);
  padding: 8px;
}

.center {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
}

.bottom span {
  color: rgb(153, 153, 153);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.bottom h5 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.bottom button {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 10px;
  /* Purple/60 */
  background: rgb(112, 59, 247);
  padding: 18px 54px;
}

.bottom-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.featured {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comments-top h2 {
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.comments-top p {
  color: rgb(153, 153, 153);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.comments-top button {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 10px;

  /* Grey/10 */
  background: rgb(26, 26, 26);
  padding: 18px 24px;
}

.comment h3 {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 40px;
}

.comment h5 {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 19px;
  font-weight: 600;
  line-height: 150%;
  max-width: 400px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 14px;
}

.comment h4 {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: left;
}

.comment p {
  color: rgb(153, 153, 153);
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: left;
}

.comment {
  max-width: 512px;
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 12px;

  /* Grey/08 */
  background: rgb(20, 20, 20);
  padding: 50px;
}

.comment-bottom {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 40px;
}

.comments-bottom {
  margin-top: 80px;
}

.coments {
  margin-top: 140px;
  margin-bottom: 100px;
}

.comment h3 {
  max-width: 410px;
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 25px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 30px;
}

.comment p {
  color: rgb(153, 153, 153);
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.6%;
  text-align: left;
  margin-top: 30px;
}

.comment button {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 500;
  line-height: 131%;
  letter-spacing: -0.6%;
  text-align: left;
  padding: 18px 24px;
  margin-top: 30px;
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 10px;

  /* Grey/10 */
  background: rgb(26, 26, 26);
}

.start h2 {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 48px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.start p {
  max-width: 1154px;
  color: rgb(153, 153, 153);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 15px;
}

.start button {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 10px;
  border: none;
  background: rgb(112, 59, 247);
  padding: 18px 24px;
}

.start {
  padding: 100px 0;
}

.starter {
  display: flex;
  justify-content: space-between;
}

.start-box {
  box-sizing: border-box;
  /* Grey/15 */
  border-bottom: 1px solid rgb(38, 38, 38);
  border-top: 1px solid rgb(38, 38, 38);
  margin-top: 150px;
}

input {
  color: rgb(153, 153, 153);
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.6%;
  text-align: left;
  background: none;
  border: none;
}

.footer {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}

.email {
  max-width: 423px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 12px;

  /* Grey/08 */
  background: rgb(20, 20, 20);
  padding: 21px 24px;
  margin-top: 30px;
}

.email-box {
  display: flex;
  gap: 10px;
}

footer li {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.6%;
  text-align: left;
  margin-top: 30px;
}

.footer-right {
  display: flex;
  gap: 100px;
}

ul span {
  color: rgb(153, 153, 153);
  font-family: Urbanist;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.6%;
  text-align: left;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.footer-bottom h5 {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.6%;
  text-align: left;
}

.footer-bottoms {
  /* Grey/10 */
  background: rgb(26, 26, 26);
}

/* scroll */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.about h2 {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 48px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.about p {
  max-width: 755px;
  color: rgb(153, 153, 153);
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 14px;
}

.about h4 {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 40px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.about {
  display: flex;
  justify-content: space-between;
  margin-top: 82px;
}

.about-left-bottom {
  display: flex;
  gap: 20px;
}

.numbers {
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 12px;

  /* Grey/10 */
  background: rgb(26, 26, 26);
  padding: 24px 24px;
  margin-top: 80px;
}
.value-left h2 {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 48px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.value-left p {
  max-width: 517px;
  color: rgb(153, 153, 153);
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 14px;
}
.value {
  display: flex;
  justify-content: space-between;
  padding: 160px 0;
  align-items: center;
}
.value-right h4 {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.value-right p {
  max-width: 409.5px;
  color: rgb(153, 153, 153);
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.value-right {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 60px;
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 12px;

  box-shadow: 0px 0px 0px 10px rgb(25, 25, 25);
  /* Grey/08 */
  background: rgb(20, 20, 20);
  padding: 60px 60px;
}
.value-box {
  display: flex;
  gap: 14px;
  align-items: center;
  margin-bottom: 20px;
}
.values {
  margin-bottom: 60px 0;
}
.achivements-top h2 {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 48px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 14px;
}
.achivements-top p {
  max-width: 1297px;
  color: rgb(153, 153, 153);
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.achivements-bottom {
  padding: 80px 0;
  display: flex;
  gap: 40px;
}
.achivements-bottom h4 {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 30px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.achivements-bottom p {
  max-width: 405.5px;
  color: rgb(153, 153, 153);
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 30px;
}
.achives {
  max-width: 505px;
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 12px;

  box-shadow: 0px 0px 0px 8px rgb(25, 25, 25);
  /* Grey/08 */
  background: rgb(20, 20, 20);
  padding: 50px 50px;
}
.navigation-top h2 {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 48px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.navigation-top p {
  max-width: 1297px;
  color: rgb(153, 153, 153);
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 14px;
}
.navigation-bottom h6 {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  box-sizing: border-box;
  /* Purple/60 */
  border-left: 1px solid rgba(112, 59, 247, 0.345);
  padding: 16px 20px;
}
.navigation-bottom h4 {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.navigation-bottom p {
  max-width: 412px;
  color: rgb(153, 153, 153);
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 20px;
}
.navigation-bottom {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  padding: 80px 0;
  gap: 30px;
}
.steps {
  margin-top: 50px;
}
.stepic {
  padding: 50px;
  box-sizing: border-box;
  border-left: 1px solid rgba(112, 59, 247, 0.345);
  border-top: 1px solid rgba(112, 59, 247, 0.375);

  border-radius: 0px 12px 12px 12px;

  background: linear-gradient(
    156.17deg,
    rgb(112, 59, 247) -49.397%,
    rgba(112, 59, 247, 0) 13.589%
  );
}
.team {
  padding: 150px 0;
}
.team-top h2 {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 48px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 14px;
}
.team-top p {
  max-width: 1297px;
  color: rgb(153, 153, 153);
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.bio h4 {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 50px;
}
.bio {
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 12px;
  padding: 30px;
}
.bio p {
  color: rgb(153, 153, 153);
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 6px;
}
/* .bio button {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
} */
.team-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.image-box {
  position: relative;
}
.btn-img {
  position: absolute;
  right: 125px;
  top: 235px;
}
.button-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 100px;

  /* Grey/10 */
  background: rgb(26, 26, 26);
  margin-top: 24px;
}
.button-box h5 {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  text-align: center;
}
.section-box {
  display: flex;
  gap: 50px;
}
.year p {
  color: rgb(153, 153, 153);
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.year h3 {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 30px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.since button {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 10px;

  /* Grey/10 */
  background: rgb(26, 26, 26);
  padding: 18px 24px;
}
.section-top h2 {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 48px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.section-top p {
  max-width: 1297px;
  color: rgb(153, 153, 153);
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.since {
  display: flex;
  justify-content: space-between;
}
.domain p {
  color: rgb(153, 153, 153);
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.domainy {
  display: flex;
  gap: 5px;
}
.domain h4 {
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.domain {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.said p {
  color: rgb(153, 153, 153);
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.said h5 {
  max-width: 613.5px;
  color: rgb(255, 255, 255);
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 15px;
}
.said {
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 12px;
  padding: 30px;
  margin-top: 40px;
}
.section-bottom {
  box-sizing: border-box;
  /* Grey/15 */
  border: 1px solid rgb(38, 38, 38);
  border-radius: 12px;

  box-shadow: 0px 0px 0px 8px rgb(25, 25, 25);
  /* Grey/08 */
  background: rgb(20, 20, 20);
  padding: 50px;
  margin-top: 50px;
}
